In [2]:
import pandas as pd
from scipy.spatial import distance
from scipy.spatial.distance import cityblock
from tabulate import tabulate 

dataframe=pd.read_csv("dataset_review.csv")
print(dataframe)

    Book   p1   p2 p3   p4 p5   p6 p7   p8
0  book1  3.5    2  5    3  -    -  5    3
1  book2    2  3.5  1    4  4  4.5  2    -
2  book3    -    4  1  4.5  1    4  -    -
3  book4  4.5    -  3    -  4    5  3    5
4  book5    5    2  5    3  -    5  5    4
5  book6  1.5  3.5  1  4.5  -  4.5  4  2.5
6  book7  2.5    -  -    4  4    4  5    3
7  book8    2    3  -    2  1    4  -    -

In [3]:
df=dataframe.replace('-',float("Nan"))
df

    Book   p1   p2   p3   p4   p5   p6   p7   p8
0  book1  3.5    2    5    3  NaN  NaN    5    3
1  book2    2  3.5    1    4    4  4.5    2  NaN
2  book3  NaN    4    1  4.5    1    4  NaN  NaN
3  book4  4.5  NaN    3  NaN    4    5    3    5
4  book5    5    2    5    3  NaN    5    5    4
5  book6  1.5  3.5    1  4.5  NaN  4.5    4  2.5
6  book7  2.5  NaN  NaN    4    4    4    5    3
7  book8    2    3  NaN    2    1    4  NaN  NaN

In [11]:
#P1-P2 Distance

In [4]:
df1_p1p2=df.drop(["p3","p4","p5","p6","p7","p8"],axis=1)
df2_p1p2=df1_p1p2[df1_p1p2["p1"].notnull()]
df2_p1p2=df2_p1p2[df2_p1p2["p2"].notnull()]

In [5]:
manhattanDistance_p1p2 = distance.cityblock(df2_p1p2['p1'].astype(float),df2_p1p2['p2'].astype(float))
eucDistance_p1p2 = distance.euclidean(df2_p1p2['p1'].astype(float),df2_p1p2['p2'].astype(float))
minkDistance_p1p2 = distance.minkowski(df2_p1p2['p1'].astype(float),df2_p1p2['p2'].astype(float),p=3)

In [14]:
#P1-P3 Distance

In [6]:
df1_p1p3=df.drop(["p2","p4","p5","p6","p7","p8"],axis=1)
df2_p1p3=df1_p1p3[df1_p1p3["p1"].notnull()]
df2_p1p3=df2_p1p3[df2_p1p3["p3"].notnull()]

In [7]:
manhattanDistance_p1p3 = distance.cityblock(df2_p1p3['p1'].astype(float),df2_p1p3['p3'].astype(float))
eucDistance_p1p3 = distance.euclidean(df2_p1p3['p1'].astype(float),df2_p1p3['p3'].astype(float))
minkDistance_p1p3 = distance.minkowski(df2_p1p3['p1'].astype(float),df2_p1p3['p3'].astype(float),p=3)

In [17]:
#P1-P4 Distance

In [8]:
df1_p1p4=df.drop(["p2","p3","p5","p6","p7","p8"],axis=1)
df2_p1p4=df1_p1p4[df1_p1p4["p1"].notnull()]
df2_p1p4=df2_p1p4[df2_p1p4["p4"].notnull()]

In [9]:
manhattanDistance_p1p4 = distance.cityblock(df2_p1p4['p1'].astype(float),df2_p1p4['p4'].astype(float))
eucDistance_p1p4 = distance.euclidean(df2_p1p4['p1'].astype(float),df2_p1p4['p4'].astype(float))
minkDistance_p1p4 = distance.minkowski(df2_p1p4['p1'].astype(float),df2_p1p4['p4'].astype(float),p=3)

In [20]:
#P1-P5 Distance

In [10]:
df1_p1p5=df.drop(["p2","p3","p4","p6","p7","p8"],axis=1)
df2_p1p5=df1_p1p5[df1_p1p5["p1"].notnull()]
df2_p1p5=df2_p1p5[df2_p1p5["p5"].notnull()]

In [11]:
manhattanDistance_p1p5 = distance.cityblock(df2_p1p5['p1'].astype(float),df2_p1p5['p5'].astype(float))
eucDistance_p1p5 = distance.euclidean(df2_p1p5['p1'].astype(float),df2_p1p5['p5'].astype(float))
minkDistance_p1p5 = distance.minkowski(df2_p1p5['p1'].astype(float),df2_p1p5['p5'].astype(float),p=3)

In [23]:
#P1-P6 Distance

In [12]:
df1_p1p6=df.drop(["p2","p3","p4","p5","p7","p8"],axis=1)
df2_p1p6=df1_p1p6[df1_p1p6["p1"].notnull()]
df2_p1p6=df2_p1p6[df2_p1p6["p6"].notnull()]

In [13]:
manhattanDistance_p1p6 = distance.cityblock(df2_p1p6['p1'].astype(float),df2_p1p6['p6'].astype(float))
eucDistance_p1p6 = distance.euclidean(df2_p1p6['p1'].astype(float),df2_p1p6['p6'].astype(float))
minkDistance_p1p6 = distance.minkowski(df2_p1p6['p1'].astype(float),df2_p1p6['p6'].astype(float),p=3)

In [26]:
#P1-P7 Distance

In [14]:
df1_p1p7=df.drop(["p2","p3","p4","p5","p6","p8"],axis=1)
df2_p1p7=df1_p1p7[df1_p1p7["p1"].notnull()]
df2_p1p7=df2_p1p7[df2_p1p7["p7"].notnull()]

In [15]:
manhattanDistance_p1p7 = distance.cityblock(df2_p1p7['p1'].astype(float),df2_p1p7['p7'].astype(float))
eucDistance_p1p7 = distance.euclidean(df2_p1p7['p1'].astype(float),df2_p1p7['p7'].astype(float))
minkDistance_p1p7 = distance.minkowski(df2_p1p7['p1'].astype(float),df2_p1p7['p7'].astype(float),p=3)

In [29]:
#P1-P8 Distance

In [16]:
df1_p1p8=df.drop(["p2","p3","p4","p5","p6","p7"],axis=1)
df2_p1p8=df1_p1p8[df1_p1p8["p1"].notnull()]
df2_p1p8=df2_p1p8[df2_p1p8["p8"].notnull()]

In [17]:
manhattanDistance_p1p8 = distance.cityblock(df2_p1p8['p1'].astype(float),df2_p1p8['p8'].astype(float))
eucDistance_p1p8 = distance.euclidean(df2_p1p8['p1'].astype(float),df2_p1p8['p8'].astype(float))
minkDistance_p1p8 = distance.minkowski(df2_p1p8['p1'].astype(float),df2_p1p8['p8'].astype(float),p=3)

In [18]:
pip install tabulate

Requirement already satisfied: tabulate in c:\users\wasik\anaconda3\lib\site-packages (0.8.9)
Note: you may need to restart the kernel to use updated packages.

In [21]:
print("********************************************")
print("             Manhattan Distance             ")
print("********************************************")
manhattan_table = [("P1","P2",manhattanDistance_p1p2),
                   ("P1","P3",manhattanDistance_p1p3),
                   ("P1","P4",manhattanDistance_p1p4),
                   ("P1","P5",manhattanDistance_p1p5),
                   ("P1","P6",manhattanDistance_p1p6),
                   ("P1","P7",manhattanDistance_p1p7),
                   ("P1","P8",manhattanDistance_p1p8),]
man_header = ["Distance From", "Distance to", "Value"]
print(tabulate(manhattan_table,headers=man_header,tablefmt="fancy_grid"))

********************************************
             Manhattan Distance
********************************************
╒═════════════════╤═══════════════╤═════════╕
│ Distance From   │ Distance to   │   Value │
╞═════════════════╪═══════════════╪═════════╡
│ P1              │ P2            │     9   │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P3            │     4.5 │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P4            │     9   │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P5            │     5   │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P6            │     9.5 │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P7            │     8   │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P8            │     3.5 │
╘═════════════════╧═══════════════╧═════════╛

In [22]:
print("********************************************")
print("             Euclidean Distance             ")
print("********************************************")
euc_table =       [("P1","P2",eucDistance_p1p2),
                   ("P1","P3",eucDistance_p1p3),
                   ("P1","P4",eucDistance_p1p4),
                   ("P1","P5",eucDistance_p1p5),
                   ("P1","P6",eucDistance_p1p6),
                   ("P1","P7",eucDistance_p1p7),
                   ("P1","P8",eucDistance_p1p8),]
euc_header = ["Distance From", "Distance to", "Value"]
print(tabulate(euc_table,headers=euc_header,tablefmt="fancy_grid"))

********************************************
             Euclidean Distance
********************************************
╒═════════════════╤═══════════════╤═════════╕
│ Distance From   │ Distance to   │   Value │
╞═════════════════╪═══════════════╪═════════╡
│ P1              │ P2            │ 4.30116 │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P3            │ 2.39792 │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P4            │ 4.41588 │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P5            │ 2.73861 │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P6            │ 4.66369 │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P7            │ 4.12311 │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P8            │ 1.65831 │
╘═════════════════╧═══════════════╧═════════╛

In [23]:
print("********************************************")
print("            Minkowski Distance              ")
print("********************************************")
mink_table =      [("P1","P2",minkDistance_p1p2),
                   ("P1","P3",minkDistance_p1p3),
                   ("P1","P4",minkDistance_p1p4),
                   ("P1","P5",minkDistance_p1p5),
                   ("P1","P6",minkDistance_p1p6),
                   ("P1","P7",minkDistance_p1p7),
                   ("P1","P8",minkDistance_p1p8),]
mink_header = ["Distance From", "Distance to", "Value"]
print(tabulate(mink_table,headers=mink_header,tablefmt="fancy_grid"))

********************************************
            Minkowski Distance
********************************************
╒═════════════════╤═══════════════╤═════════╕
│ Distance From   │ Distance to   │   Value │
╞═════════════════╪═══════════════╪═════════╡
│ P1              │ P2            │ 3.4966  │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P3            │ 1.98953 │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P4            │ 3.59598 │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P5            │ 2.32079 │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P6            │ 3.78268 │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P7            │ 3.36198 │
├─────────────────┼───────────────┼─────────┤
│ P1              │ P8            │ 1.3342  │
╘═════════════════╧═══════════════╧═════════╛

In [36]:
pip install PyQt6

Collecting PyQt6
  Downloading PyQt6-6.0.2-cp36.cp37.cp38.cp39-none-win_amd64.whl (5.2 MB)
Collecting PyQt6-sip<14,>=13.0
  Downloading PyQt6_sip-13.0.1-cp38-cp38-win_amd64.whl (57 kB)
Collecting PyQt6-Qt>=6.0
  Downloading PyQt6_Qt-6.0.1-py3-none-win_amd64.whl (42.1 MB)
Installing collected packages: PyQt6-sip, PyQt6-Qt, PyQt6
Successfully installed PyQt6-6.0.2 PyQt6-Qt-6.0.1 PyQt6-sip-13.0.1Note: you may need to restart the kernel to use updated packages.